<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="#">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Victor Mattos</title>
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>

    <!-- Side Navegation Bar -->
    <aside id="header">
        <section class="profile">
            <img src="../static/img/profile.jpg" alt="Foto Victor Mattos">
            <h1 class="text-shadow">Victor Mattos</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/victor-mattos-9a2b1a1b2/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/VictorMattosWeb">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/victormattosdev/">
                    <i class="bi bi-instagram"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house"
                            aria-hidden="true"></i> Início</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>
                        Habilidades</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i>
                        Currículo</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="#portfolio"><i class="bi bi-collection" aria-hidden="true"></i>
                        Portfólio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="#contatos"><i class="bi bi-envelope" aria-hidden="true"></i> Contatos</a>
                </li>

            </ul>
        </nav>
    </aside>

    <!-- Main Content -->
    <main id="main">

        <!-- Section Home -->
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Victor Mattos</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor, Estudante e Youtuber</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arrate para mais</a>
                </div>

            </div>

        </section>

        <!-- Section About -->
        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-4">Sobre</h2>
                    <p class="mb-5 mt-4">Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e
                        composição tipográfica.
                        Lorem Ipsum tem sido o texto fictício padrão da indústria desde 1500, quando um impressor
                        desconhecido pegou uma prova de tipos e a misturou para fazer um livro de espécimes de tipos.
                        Ela sobreviveu não apenas a cinco séculos, mas também ao salto para a composição tipográfica
                        eletrônica, permanecendo essencialmente inalterada. Foi popularizado na década de 1960 com o
                        lançamento de folhas Letraset contendo passagens de Lorem Ipsum e, mais recentemente, com
                        software de editoração eletrônica como Aldus PageMaker, incluindo versões de Lorem Ipsum.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow img-border mb-5" src="../static/img/profile.jpg"
                        alt="Foto Victor Mattos" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Desenvolvedor de Software</h3>
                    <p>Atualmente atuo como Desenvolvedor Back-end Trainee na <a class="link-extractta"
                            href="https://extractta.com.br/site/">Extractta</a>, trabalhando principalmente com C#, e
                        quando falamos de banco de dados usamos o Oracle. </p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter">17 de Setembro de
                                        2000</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">23 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">São Paulo</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">São Paulo</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Hobby: <span class="fw-lighter">Futvolei, Skate e
                                        Academia</span></li>
                                <li class="list-group-item">Email: <a href="#" target="_blank"
                                        class="fw-lighter text-decoration-none link-dark">vhmattosweb@gmail.com</a></li>
                                <li class="list-group-item">Trabalho: <a href="https://extractta.com.br/site/"
                                        target="_blank" class="fw-lighter text-decoration-none link-dark">Extractta</a>
                                </li>
                                <li class="list-group-item">Experiência: <span class="fw-lighter"> +2 anos</span></li>

                            </ul>
                        </div>
                    </div>

                    <p>Além de coordenar e lecionar desenvolvimento web fullstack, eu também compartilho conteúdo
                        gratuito no instagram, dando dicas de programação e carreira, e no YouTube, posto videos de
                        pequenos projetos, dicas de carreira, dicas de tecnologias, entre outros assuntos.</p>


                </div>
            </div>

        </section>

        <!-- Section Skills -->
        <section id="habilidades" class="mt-5 section-bg">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo tempo como profissional de tecnologia eu adquiri algumas habilidades técnicas e não técnicas,
                    a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada
                    uma delas.</p>

                <!-- Tech Skills -->
                <div class="row">
                    <div class="col-md-6">
                        <p class='mt-3 mb-0'>HTML</p>
                        <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success" data-anime="left" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-warning text-dark" data-anime="left" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="35"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-info text-dark" data-anime="left" style="width: 35%">35%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="45"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-info text-dark" data-anime="left" style="width: 45%">45%</div>
                        </div>
                        <p class="mt-3 mb-0">Java</p>
                        <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-info text-dark" data-anime="left" style="width: 40%">40%</div>
                        </div>
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-warning text-dark" data-anime="left" style="width: 60%">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Processo Ageis</p>
                        <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-warning text-dark" data-anime="left" style="width: 70%">70%</div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">C#</p>
                        <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="64"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-warning text-dark" data-anime="left" style="width: 64%">64%</div>
                        </div>
                        <p class="mt-3 mb-0">C/C++</p>
                        <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="52"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-warning text-dark" data-anime="left" style="width: 52%">52%</div>
                        </div>
                        <p class="mt-3 mb-0">ReactJs</p>
                        <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="23"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-info text-dark" data-anime="left" style="width: 23%">23%</div>
                        </div>
                        <p class="mt-3 mb-0">NodeJs (Express)</p>
                        <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-info text-dark" data-anime="left" style="width: 25%">25%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="36"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-info text-dark" data-anime="left" style="width: 36%">36%</div>
                        </div>
                        <p class="mt-3 mb-0">Oracle</p>
                        <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="41"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-info text-dark" data-anime="left" style="width: 41%">41%</div>
                        </div>
                        <p class="mt-3 mb-0">Programação Orientada a Objetos</p>
                        <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="84"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success" data-anime="left" style="width: 84%">84%</div>
                        </div>
                    </div>
                </div>

                <hr class='w-50 me-auto ms-auto shadow'>

                <!-- Soft Skills -->
                <p class="text-center soft-tag">Soft Skills</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="95"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success" data-anime="left" style="width: 95%">95%</div>
                        </div>

                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="85"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success" data-anime="left" style="width: 85%">85%</div>
                        </div>

                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="93"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success" data-anime="left" style="width: 93%">93%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="97"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success" data-anime="left" style="width: 97%">97%</div>
                        </div>

                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="89"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success" data-anime="left" style="width: 89%">89%</div>
                        </div>

                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="92"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success" data-anime="left" style="width: 92%">92%</div>
                        </div>
                    </div>
                </div>


        </section>

        <!-- Section Curriculum -->
        <section id="curriculo" class="mt-5 cv">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Curriculo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Análise de Desenvolvimento de Sistemas</h4>
                            <h5>2020 - 2022 (Graduação)</h5>
                            <p><em>Universidade Paulista (UNIP) - Concluído</em></p>
                            <p>Nesse trajeto eu aprendi como analisar, projetar e desenvolver sistemas computacionais de
                                informação, além de testá-los, implantar e fazer a manutenção deles.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Introdução a Comp Paralela e Distribuída </h4>
                            <h5>2023 - 2023 (Pós-Graduação)</h5>
                            <p><em>Universidade de São Paulo (USP) - Concluído</em></p>
                            <p>Objetivos gerais da computação paralela e distribuída; problemas e conceitos básicos;
                                tipos e granularidades de paralelismo; arquiteturas de sistemas paralelos e
                                distribuídos;
                                topologias de interconexão; protocolos de comunicação; mecanismos de comunicação e
                                sincronização; linguagens e sistemas de programação; algoritmos paralelos e
                                distribuídos;
                                aplicações.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Engenharia de Software</h4>
                            <h5>2023 - 2023 (Pós-Graduação)</h5>
                            <p><em>Universidade de São Paulo (USP) - Cursando</em></p>
                            <p>Modelos de ciclos de vida e processos de desenvolvimento. Boas práticas e agilidade no
                                desenvolvimento de software. Gestão de projetos, planejamento e estimativas modernas de
                                desenvolvimento de software. Análise e especificação de requisitos. Modelagem, Projeto
                                (design) e Padrões de projeto. Arquitetura de Software, padrões e estilos arquiteturais.
                                Verificação, validação e testes. Gerenciamento de configurações. Manutenção e evolução
                                de software, incluindo qualidade do produto e métricas de código-fonte. Ecossistema do
                                software livre e práticas de desenvolvimento colaborativo e equipes distribuídas.
                                Tópicos atuais de Engenharia de Software, por exemplo, Engenharia de Software para
                                Pesquisa ("Research Software Engineering") e Engenharia de Software Sustentável
                                (relacionado a "green software").</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Tópicos Avançados em POO</h4>
                            <h5>2023 - 2023 (Pós-Graduação)</h5>
                            <p><em>Universidade de São Paulo (USP) - Cursando</em></p>
                            <p>Linguagens fortemente tipadas vs. Linguagens dinâmicas;
                                Abstração e Padrões de Projeto de Software;
                                Linguagens de Padrões e escrita de Padrões;
                                Padrões arquiteturais e outros tipos de padrões para projeto e desenvolvimento de
                                software OO;
                                Relação entre OO e desenvolvimento ágil de software: TDD, BDD e gestão de
                                arquiteturas OO de alto nível;
                                Estilos de codificação e beleza de código OO;
                                Arcabouços Orientados a Objetos;
                                Princípios avançados de projeto orientado a objetos tais como os princípios SOLID;
                                Como características avançadas como Reflexão, Metaprogramação, Continuações, Mix-
                                ins e Traits facilitam o desenvolvimento de sistemas flexíveis, enxutos e robustos.</p>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class='cv-item' data-anime="up">
                            <h4>Coordenador de curso</h4>
                            <h5>2021 - atual</h5>
                            <p><em>Blue EdTech</em></p>
                            <p>A Blue é uma EdTech com foco na capacitação de jovens que desejam
                                entrar para o mercado de tecnologia, oferecendo uma formação
                                completa de hard skills e soft skills.</p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Professor de programação</h4>
                            <h5>2020 - 2021</h5>
                            <p><em>Generation Brasil</em></p>
                            <p>Instrutor de desenvolvimento Web Full Stack. Utilizando Angular no front-end,
                                Java e Spring Boot no back-end, MySQL no banco de dados e deploy com
                                Docker. </p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Instrutor de informática</h4>
                            <h5>2018 - 2019</h5>
                            <p><em>Instituto da Oportunidade Social</em></p>
                            <p>Instrutor de computação básica profissionalizante, com módulos de sistema
                                operacional, pacote office e internet, focando principalmente no Excel.</p>
                        </div>

                    </div>
                </div>

            </div>

        </section>

        <!-- Section Portfolio -->
        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="up">

                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">

                        <!-- First page of the caurosel -->
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="card">
                                    <div class="col"> <!-- To add more projects to the carosel, copy this "div"-->
                                        <img src="../static/img/loading.png" class="card-img-top" alt="Em breve">
                                        <div class="card-body">
                                            <h5 class="card-title">Em breve...</h5> <!-- Project Name -->
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="#" target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="#" target='_blank' class="btn btn-outline-primary"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/loading.png" class="card-img-top" alt="Em breve">
                                        <div class="card-body">
                                            <h5 class="card-title">Em breve...</h5> <!-- Project Name -->
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="#" target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="#" target='_blank' class="btn btn-outline-primary"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/loading.png" class="card-img-top" alt="Em breve">
                                        <div class="card-body">
                                            <h5 class="card-title">Em breve...</h5> <!-- Project Name -->
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="#" target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="#" target='_blank' class="btn btn-outline-primary"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Second page of the carousel -->
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="card">
                                    <div class="col"> <!-- To add more projects to the carosel, copy this "div"-->
                                        <img src="../static/img/loading.png" class="card-img-top" alt="Em breve">
                                        <div class="card-body">
                                            <h5 class="card-title">Em breve...</h5> <!-- Project Name -->
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="#" target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="#" target='_blank' class="btn btn-outline-primary"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/loading.png" class="card-img-top" alt="Em breve">
                                        <div class="card-body">
                                            <h5 class="card-title">Em breve...</h5> <!-- Project Name -->
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="#" target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="#" target='_blank' class="btn btn-outline-primary"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/loading.png" class="card-img-top" alt="Em breve">
                                        <div class="card-body">
                                            <h5 class="card-title">Em breve...</h5> <!-- Project Name -->
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="#" target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="#" target='_blank' class="btn btn-outline-primary"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--  Buttons Carousel  -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </section>

        <!-- Section Contato -->
        <section class="pt-5 pb-5" id="contatos">

            <div class="container mb-5">
                <h2 class='pt-3 pb-3'>Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Butantã, SP</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>vhmattosweb@gmail.com</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.237159135291!2d-46.736615619698966!3d-23.55992440685802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce56145bbc93a9%3A0x61a29a09021f6758!2sButant%C3%A3%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005508-120!5e0!3m2!1spt-BR!2sbr!4v1696272953145!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="w-100" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="up">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name='nome'
                                        placeholder='Digite seu nome' required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name='email'
                                        placeholder='Digite seu email' required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>


                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar
                                        mensagem</button>

                                    <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </section>

    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>